@tailwind base;
@tailwind components;
@tailwind utilities;

/* VARIABLES GLOBALES */

:root {
    --background-index: #1b1025;
    --background-main: #ffffff;
    --text-color-index: #f1f2fd;
    --text-color: #0a0a0a;
    --menu-bg: rgb(252, 255, 253);
    --card-bg: #e8faff;
    --courses-bg: rgb(253, 252, 255);
    --accent-color: #1e2f77;
    --main-color:#181249;
    --hover-color: #1566c4;
    --highlight-color: #1083b9;
    --input-bg: rgba(255, 255, 255, 0.05);
    --main-font: "Roboto Condensed", sans-serif;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: var(--main-font);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

th {
    padding: 8px;
}

/* UTILIDADES EFECTOS ANIMACIONES */

.shadowNav {
    -webkit-box-shadow: 18px -12px 25px -22px var(--highlight-color);
    -moz-box-shadow: 18px -12px 25px -22px var(--highlight-color);
    box-shadow: 18px -12px 15px -22px var(--highlight-color);
}

.stars {
    position: absolute;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1744px 122px 2px #ffffffb7, 134px 1322px 2px #ffffffb7, 92px 859px 2px #ffffffb7,
        500px 700px 2px #ffffffb7, 900px 200px 2px #ffffffb7, 300px 400px 2px #ffffffb7,
        600px 1500px 2px #ffffffb7,
        -1524px 182px 2px #ffffffb7, -184px 1822px 2px #ffffffb7, -102px 759px 2px #ffffffb7,
        -570px 780px 2px #ffffffb7, -600px 280px 2px #ffffffb7, -250px 480px 2px #ffffffb7,
        -660px 1580px 2px #ffffffb7;
    animation: animStar 30s linear infinite;
}

.stars::after {
    content: " ";
    position: absolute;
    width: 2px;
    height: 2px;
    background: transparent;
    animation: animStar 30s linear infinite;
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-2000px);
    }
}

.cosmicCircle {
    position: absolute;
    border-radius: 50%;
    background: radial-gradient(circle, var(--accent-color) 0%, transparent 70%);
    opacity: 0.2;
}

.fadeInFocus {
    animation: fadeInFocus 1s ease-in forwards;
}

@keyframes fadeInFocus {
    0% {
        filter: blur(10px);
        opacity: 0;
    }

    100% {
        filter: blur(0);
        opacity: 1;
    }
}

/* INPUTS BOTONES */
.instructorFormInput {
    background-color: var(--input-bg);
    color: var(--text-color);
    font-size: 1.3rem;
    width: 100%;
    border: 1px solid rgb(178, 182, 182);
    padding: 0.5rem 1rem;
}

.porfileInput {
    background-color: var(--input-bg);
    color: var(--text-color);
    font-size: 1.6rem;
    width: 100%;
    border: 1px solid rgb(179, 179, 179);
}

.indexInput {
    background-color: var(--input-bg);
    color: var(--text-color-index);
    font-size: 1.6rem;
    width: 90%;
    margin: 0 auto;
}

.indexInput:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--highlight-color);
}

.profileButton {
    background-color: var(--hover-color);
    color: var(--text-color-index);
    border: none;
    padding: 1.2rem 2.4rem;
    font-size: 1.6rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 5px;
    
}

@media (max-width: 1250px) {
    .profileButton{
        font-size: 1.2rem;
        padding: 1rem 2rem;
    }
  }

.profileButton:hover {
    background-color: #498594;
}

.indexButton {
    background-color: var(--accent-color);
    color: var(--text-color-index);
    border: none;
    padding: 1.2rem 2.4rem;
    font-size: 1.6rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
    border-radius: 5px;

}

.indexButton:hover {
    background-color: var(--highlight-color);
}

.indexButton:active {
    transform: translateY(-2px);
}

.tab:hover {
    color: var(--hover-color);
    transition: color 0.3s ease;
    border-bottom: 2px solid var(--hover-color);
    transform: translateY(-1px);
}

.tab.active {
    border-bottom: 2px solid var(--hover-color);
    transform: translateY(-1px);
    color: var(--hover-color);
}

.ratio {
    aspect-ratio: 9 / 16;
}

.hidden {
    display: none !important;
}